@{
    ViewBag.Title = "Početna";
}
<br />
<div class="jumbotron">
    <h1>Početna</h1>
    <p>Registriraj te se na kurs i olakšajte si put za posao</p>
</div>

<div class="row">
    <div class="col-md-4 bg-success text-center">
        <h2>Python</h2>
        <p>Upiši</p>
    </div>
    <div class="col-md-4 bg-primary text-center">
        <h2>HTML</h2>
        <p>Upiši</p>
    </div>
    <div class="col-md-4 bg-danger text-center">
        <h2>CSS</h2>
        <p>Upiši</p>
    </div>
</div>
<div class="row">
    <div class="col-md-4 bg-warning text-center">
        <h2>JavaScript</h2>
        <p>Upiši</p>
    </div>
    <div class="col-md-4 text-center" style="background-color:bisque">
        <h2>SQL</h2>
        <p>Upiši</p>
    </div>
    <div class="col-md-4 text-center" style="background-color:burlywood">
        <h2>PHP</h2>
        <p>Upiši</p>
    </div>
</div>